@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffffff;
}

.backg {
  background: rgba(244, 206, 84, 1);
}

.barg {
  background: linear-gradient(
    to top,
    rgb(244, 206, 84) 2%,
    rgba(244, 206, 84, 0.8) 93%,
    rgba(244, 206, 84, 0.7) 94%,
    rgba(244, 206, 84, 0.6) 95%,
    rgba(244, 206, 84, 0.5) 96%,
    rgba(244, 206, 84, 0.3) 97%,
    rgba(244, 206, 84, 0.2) 98%,
    rgba(244, 206, 84, 0.1) 99%
  );
}

.hero-lg {
  background-image: url("./assets/banner.png");
  background-position: top;
  background-repeat: no-repeat;
}

.hero-sm {
  background-image: url("./assets/banner.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 180%;
  background-position-x: 25%;
}

.hero-md {
  background-image: url("./assets/banner.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 330%;
  background-position-x: 30%;
}

.btn::before {
  width: 100%;
  height: 100%;
  background: #ff9709;
  position: absolute;

  content: "";
}
